
/*new*/


#EnterU {
font-family: 'Fredericka the Great', cursive;
font-size: 1.5em;
}

#entersumit {
 border-radius: 5px;
 font-family: 'Fredericka the Great', cursive;
 text-align: center;
 position: relative;
 left: 1em;
}

#longURL {
    position: relative;
    left: 0.5em;
    border-radius: 5px;
    width: 400px;
}


/*index*/
#table-div {
    margin: 6em auto;

}

#origi {
  font-family: 'Fredericka the Great', cursive;
}

#ShortUrl {
  font-family: 'Fredericka the Great', cursive;
}

#shortU {
  color: grey;
}
.shadow-div {
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: -2px 6px 48px -5px rgba(0,0,0,0.75);
}

#urlList {
  font-family: 'Fredericka the Great', cursive;
  color: black;
  text-shadow: -1px 3px 12px rgba(19,20,20,0.71);
}

table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
  table-layout: fixed;
}

th, td{
  padding: 15px;
  text-align: center;
  max-width: 100px;
  overflow: auto;
}

/*show-page*/

#shorturl {
  font-family: 'Fredericka the Great', cursive;
  color: grey;
}

#updatebutton {
  background-color: grey;
  font-family: 'Fredericka the Great', cursive;
  border-color: grey;
}

#originalU {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.5em;
}







/*login*/


#shortenUrl {
font-family: 'Fredericka the Great', cursive;
background-color: red;
border-color: red;

}

/*Register */

.register-div {
    margin: 50px 100px;
    padding: 20px;
    background-color: wheat;
    border-radius: 10px;
    f

}

#regisButton {
border-color: gray;
background-color: gray;

}

#regisFont {
font-family: 'Fredericka the Great', cursive;
color: black;

}


/* header Style */

#greeting {
font-family: 'Fredericka the Great', cursive;
color: white;
margin: auto 2em;
}

#logout{
  font-family: 'Fredericka the Great', cursive;
  margin: auto 5px;
}

.navbar {
  background-color: grey;
  box-shadow: -2px 6px 48px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 6px 48px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 6px 48px -5px rgba(0,0,0,0.75);
}

#navFont  {
font-family: 'Fredericka the Great', cursive;
color: wheat;
margin: auto 3em;

};






