
<!DOCTYPE html>
<html lang="en">
 <H3>TinyApp</H3>

<body>

     <H5>Hello! <%= username %></H5>
     <form method="POST" action="/login">
     name<input type= "text" name = "username" >
     <input type = "submit" value = "sign in" />
     </form>

</body>
</html>


