
<!DOCTYPE html>
<html lang="en">
 <H3>TinyApp</H3>

<body>
    <!-- <input type = "submit" value = "Register" />
    <input type = "submit" value = "Login" /> -->

    <% if (user) { %>

        Hello! <%= user.email %>
        <form method="POST" action="/logout">
            <input type = "submit" value = "logout" />
        </form>

    <% } else { %>

        <a href="/register">Register</a>
        <a href="/login">Login</a>

    <% } %>



<!--     <form method="POST" action="/login">
    name<input type= "text" name = "username" >
    <input type = "submit" value = "sign in" /> Hello!
    </form> -->


</body>
</html>




