<!DOCTYPE html>
<html lang="en">


<body>


     <form method="POST" action="/login">
     email:    <input type= "text" name = "email" >
     password: <input type= "password" name = "password">
     <button type = "submit"> submit</button>
     </form>

</body>
</html>
