<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <ul>
      <% for ( id in urls ) { %>
        <li>

          <h3> <%= id %> : <%= urls[id]["longUrl"] %> </h3>
          <a href= "/urls/<%= id %>"> Edit </a>
          <form method="POST" action="/urls/<%= id %>/delete">
          <button type = "submit">DELETE</button>
          </form>

        </li>
      <% }; %>
    </ul>
    <a href= "/urls/new"> Shorten the Url </a>
  </body>

</html>